/* Global */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  scroll-behavior: smooth;
  max-width: 1440px;
  /* margin: auto;   */
}

:root {
  /* Colors */ 
  --primary-color:#000;
  --secondary-color:#f60303;
  --white-color:#fff;
  --grey-color:#c1c1c1;
  --lightgrey-color:#f1f1f1;
  /* Fonts */
  --ft-open: "Open Sans", sans-serif;
}

.ft-open-400 {
  font-family: var(--ft-open);
  font-weight: 400;
}

.ft-open-700 {
  font-family: var(--ft-open);
  font-weight: 700;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
}

header > nav {
  align-items: center;
}

header > nav > ul {
  display: flex;
  gap: 50px;
  padding: 51px 15px 0px 15px;
}

header > nav > ul > li {
  list-style-type: none;
  font-family: var(--ft-open);

}

header > nav > ul > li:hover{
  color: var(--secondary-color);
  /* padding-top: 5px; */
  /* padding-top: 4px; */
}

header > nav > ul > li > a {
  align-items: center;
  /* padding: 4px; */
  text-decoration: none;
  color: var(--primary-color);
}

header > nav > ul > li > a:hover {
  align-items: center;
  /* border-top: solid 1px var(--secondary-color); */
  transition: all 2s;
  padding-top: 50px;
  border-top: solid 2px var(--secondary-color);
  color: var(--secondary-color);
}

#logo {
  /* flex-shrink: 3; */
  max-width: 180px;
  padding: 0px 15px;
  /* width: 100%; */
}