/* Global */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  scroll-behavior: smooth;
  max-width: 1440px;
  /* margin: auto;   */
}

:root {
  /* Colors */ 
  --primary-color:#000;
  --secondary-color:#f60303;
  --white-color:#fff;
  --grey-color:#c1c1c1;
  --lightgrey-color:#f1f1f1;
  /* Fonts */
  --ft-open: "Open Sans", sans-serif;
}

/* Header */

header {
  display: flex;
  /* flex-flow: row nowrap; */
  justify-content: space-between;
  /* flex-direction: row; */
}

header > nav {
  align-items: center;
}

header > nav > ul {
  display: flex;
  gap: 50px;
  padding: 51px 15px 0px 15px;
}

header > nav > ul > li {
  list-style-type: none;
  font-family: var(--ft-open);
}

header > nav > ul > li:hover{
  border: ;
  padding
}

header > nav > ul > li > a {
  align-items: center;
}

#logo {
  /* flex-shrink: 3; */
  max-width: 180px;
  padding: 0px 15px;
  /* width: 100%; */
}